<footer class="footer">
	<div class="footer_body long add">
		<div class="footer_upper-wrap">
			<div class="container sm">
				<div class="footer-upper">
					<div class="footer-upper_headline">
						<h2 class="footer-upper_title h1">
							<span class="text red">Don’t just recycle,</span>
							<strong class="text red">TerraCycle.</strong>
						</h2>
						<div class="tech-wrap">
							<div class="tech-wrap_logo">
								<img src="img/footer-logo01.png" alt="image description" width="113" height="77">
							</div>
							<div class="tech-wrap_text">
								<p>AeroFlexx is created with a commitment to sustainability and our packaging is 100% recycle-ready. Thanks to our partnership with TerraCycle, consumers can recycle AeroFlexx packages via a free and easy mail-in method.</p>
							</div>
						</div>
					</div>
					<div class="steps">
						<div class="steps-container">

							<div class="step">
								<strong class="step-number text black"></strong>
								<h2 class="step-title">
									<strong class="text red">Request</strong>
								</h2>
								<p class="step-descr">Consumers access the recycling envelope program page on TerraCycle’s website to request a recycling envelope.</p>
							</div> <!-- .step -->

							<div class="step">
								<strong class="step-number text black"></strong>
								<h2 class="step-title">
									<strong class="text red">Distribute</strong>
								</h2>
								<p class="step-descr">TerraCycle distributes a recycling envelope to the consumer. A pre-paid USPS shipping label is printed directly on the envelope.</p>
							</div> <!-- .step -->

							<div class="step">
								<strong class="step-number text black"></strong>
								<h2 class="step-title">
									<strong class="text red">Collect/Send</strong>
								</h2>
								<p class="step-descr">Consumers fill the recycling envelope with your waste. When the envelope is full, the consumer drops it into any USPS mailbox to be sent to TerraCycle.</p>
							</div> <!-- .step -->

							<div class="step">
								<strong class="step-number text black"></strong>
								<h2 class="step-title">
									<strong class="text red">Recycle</strong>
								</h2>
								<p class="step-descr">TerraCycle receives the envelopes and recycles the waste inside into new plastic products.</p>
							</div> <!-- .step -->

						</div>
					</div>

					<div class="partner-box">
						<div class="partner-box_logo">
							<strong class="partner-box_title">
								<span class="text red">2025</span>
								<span class="text red">Vision</span>
							</strong>
						</div>
						<div class="partner-box_text">
							<p>Moving forward, AeroFlexx is partnering with industry leaders and suppliers to provide a breakthrough in recycle-ready and curbside recyclable plastic films that are compatible with our technology and manufacturing process.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container md">
				<div class="footer-container">
					<div class="footer-top add">
						<div class="footer-item footer-logo">
							<a href="#0">
								<img src="img/logo-light.png" alt="">
							</a>
						</div>
						<div class="footer-item footer-descr">
							<p><strong>About AeroFlexx –</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
						</div>
						<div class="footer-item footer-warranty">
							<img src="img/warranty-1.png" alt="">
							<img src="img/warranty-2.png" alt="">
						</div>
						<div class="footer-item footer-nav">
							<ul class="menu">
								<li class="current-menu-item">
									<a href="#0">Home</a>
								</li>
								<li>
									<a href="#0">CPG Companies</a>
								</li>
								<li>
									<a href="#0">Consumers</a>
								</li>
								<li>
									<a href="#0">Early Adopters</a>
								</li>
								<li>
									<a href="#0">AeroFlexx Movement</a>
								</li>
								<li>
									<a href="#0">News & Views</a>
								</li>
								<li>
									<a href="#0">Team</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="footer-bottom">
						<p class="copyright">
							©2019, AeroFlexx – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						</p>
						<address class="footer-address">
							<span><strong>Email:</strong><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#097;&#101;&#114;&#111;&#102;&#108;&#101;&#120;&#120;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#097;&#101;&#114;&#111;&#102;&#108;&#101;&#120;&#120;&#046;&#099;&#111;&#109;</a></span>
							<span><strong>Address:</strong>52 Lake Lynda Drive Building 100, Suite 151 Orlando, FL 32817</span>
						</address>
						<div class="social-network-footer">
							<ul class="social-network">
								<li>
									<a href="#" target="_blank"><i class="icon-facebook-square"></i>facebook</a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-twitter-square"></i>twitter</a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-linkedin-square"></i>linkedin</a>
								</li>
								<li>
									<a href="#" target="_blank"><i class="icon-instagram"></i>instagram</a>
								</li>
							</ul>
						</div>
						<div class="logo-bottom">
							<a href="#">
								<strong class="logo-bottom_title">A portfolio company of</strong>
								<img src="img/footer-logo02.png" alt="image description" width="119" height="29">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="footer-bg"></div> -->
	</div>
</footer>

<!-- nav -->
//= ./nav.html
<!-- nav -->

<!-- loading JS Start -->
<script src="js/jquery-3.2.1.min.js" defer></script>
<script src="js/jquery.main.js" defer></script>
<!-- loading JS End -->
<!--<Deject>-->
<!--Removing zone start -->
<link rel="stylesheet" href="css/development.css">
<div class="dev-scripts-block">
	//= ../dev/template/responsive-breakpoint.html
	//= ../dev/template/scroll-up-down.html
	//= ../dev/template/fast-navigation.html
</div>
//= ../dev/template/button-all-off.html
<script src="js/development.js" defer></script>
<!--Removing zone end -->
<!--</Deject>-->
</body>
</html>
