
<!-- .item -->
<a href="#0" class="item item-md item-post">
  <div class="item-img">
    <img src="img/item/wp10.png" alt="">
  </div>
  <div class="item-content">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Mighty Mutt Lorem Ipsum</h2>
  </div>
</a>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-sm item-review">
  <div class="review">
    <div class="review-container">
      <div class="review-star">
        <div class="star"></div>
        <div class="star active" style="width: calc(11px * 4.8)"></div>
      </div>
      <span class="review-count">38</span>
    </div>
    <p class="review-info">
      <span>4.8</span> out of <span>5</span> stars
    </p>
  </div>
  <p class="item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...</p>
  <div class="item-footer">
    <span>Consumer Reviews</span>
    <img src="img/amazon-logo.png" alt="">
  </div>
</a>
<!-- .item -->

<!-- .item -->
<div class="item item-lg bg item-video">
  <div class="item-img">
    <img src="img/item/wp-item-2.png" alt="">
  </div>
  <a class="play play-amazon" href="https://d1y6jrbzotnyjg.cloudfront.net/Z7AX4/e39b9cc04a3e47b191e06c027a8c8059/V1/ab497c440a02458aa9abbe6da16c692c/ShortForm-Generic-480p-16-9-1409173089793-rpcbe5.mp4?Expires=1567591805&Signature=TdmQF3~GBxPzKa~8sC7SBhKdYu1SBSOz2SSRFDSQLpvwrHQqXIntE41Os1rXgay6l1sFJF7Hn3UGoT41IHXAGkSPymoxHgtBkfWdA2~zWQzowLuTUwvX3SaGsFYzap04jX0mN2DasO948lNGvXgPn0X8NokUIpDthOUYCijMznc_&Key-Pair-Id=APKAJ62XWKZ35EOVO4XA"></a>
  <div class="item-content white">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Old Spice takes on EZ Squeeze</h2>
  </div>
</div>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-sm item-review">
  <div class="review">
    <div class="review-container">
      <div class="review-star">
        <div class="star"></div>
        <div class="star active" style="width: calc(11px * 4.8)"></div>
      </div>
      <span class="review-count">38</span>
    </div>
    <p class="review-info">
      <span>4.8</span> out of <span>5</span> stars
    </p>
  </div>
  <p class="item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...</p>
  <div class="item-footer">
    <span>Consumer Reviews</span>
    <img src="img/amazon-logo.png" alt="">
  </div>
</a>
<!-- .item -->

<!-- .item -->
<div class="item item-lg bg item-video">
  <div class="item-img">
    <img src="img/item/wp-item-3.png" alt="">
  </div>
  <a class="play" href="https://www.youtube.com/embed/TxbE79-1OSI"></a>
  <div class="item-content white">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Defense Soap Lorem Ipsum</h2>
  </div>
</div>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-md item-post">
  <div class="item-img">
    <img src="img/item/wp-item-4.png" alt="">
  </div>
  <div class="item-content">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Mighty Mutt Lorem Ipsum</h2>
  </div>
</a>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-sm item-review">
  <div class="review">
    <div class="review-container">
      <div class="review-star">
        <div class="star"></div>
        <div class="star active" style="width: calc(11px * 4.8)"></div>
      </div>
      <span class="review-count">38</span>
    </div>
    <p class="review-info">
      <span>4.8</span> out of <span>5</span> stars
    </p>
  </div>
  <p class="item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...</p>
  <div class="item-footer">
    <span>Consumer Reviews</span>
    <img src="img/amazon-logo.png" alt="">
  </div>
</a>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-sm item-review">
  <div class="review">
    <div class="review-container">
      <div class="review-star">
        <div class="star"></div>
        <div class="star active" style="width: calc(11px * 4.8)"></div>
      </div>
      <span class="review-count">38</span>
    </div>
    <p class="review-info">
      <span>4.8</span> out of <span>5</span> stars
    </p>
  </div>
  <p class="item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...</p>
  <div class="item-footer">
    <span>Consumer Reviews</span>
    <img src="img/amazon-logo.png" alt="">
  </div>
</a>
<!-- .item -->