
<!-- .item -->
<a href="#0" class="item item-md bg item-post">
  <div class="item-img">
    <img src="img/item/wp-item-5.png" alt="">
  </div>
  <div class="item-content">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Mighty Mutt Lorem Ipsum</h2>
  </div>
</a>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-sm item-review">
  <div class="item-header people">
    <img class="img-round" src="img/item/wp-item-9.png" alt="">
    <h5 class="item-subtitle">Andrew Meyer</h5>
  </div>
  <p class="item-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accum...</p>
  <div class="item-footer">
    <span>A Word from our CEO</span>
  </div>
</a>
<!-- .item -->

<!-- .item -->
<div class="item item-lg bg item-video">
  <div class="item-img">
    <img src="img/item/wp-item-6.png" alt="">
  </div>
  <a class="play" href="https://www.youtube.com/embed/TxbE79-1OSI"></a>
  <div class="item-content white">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Old Spice takes on EZ Squeeze</h2>
  </div>
</div>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-sm bg item-post">
  <div class="item-img">
    <img src="img/item/wp-item-7.png" alt="">
  </div>
  <div class="item-content">
    <h5 class="item-subtitle">Co Updates</h5>
    <h2 class="item-title">Introducing Our New CEO</h2>
  </div>
</a>
<!-- .item -->

<!-- .item -->
<div class="item item-lg bg item-video">
  <div class="item-img">
    <img src="img/item/wp-item-3.png" alt="">
  </div>
  <a class="play" href="https://www.youtube.com/embed/TxbE79-1OSI"></a>
  <div class="item-content white">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Defense Soap Lorem Ipsum</h2>
  </div>
</div>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-md item-post">
  <div class="item-img">
    <img src="img/item/wp10.png" alt="">
  </div>
  <div class="item-content">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Mighty Mutt Lorem Ipsum</h2>
  </div>
</a>
<!-- .item -->

<!-- .item -->
<a href="#0" class="item item-md bg item-post">
  <div class="item-img">
    <img src="img/item/wp-item-8.png" alt="">
  </div>
  <div class="item-content">
    <h5 class="item-subtitle">CPG Companies</h5>
    <h2 class="item-title">Mighty Mutt Lorem Ipsum</h2>
  </div>
</a>
<!-- .item -->