<nav class="nav">
	<div class="nav-bg"></div>
	<div class="nav-content">
		<div class="menu-btn white canvasOpen">
			<div class="line">
				<span></span>
			</div>
			<span>Menu</span>
		</div>
		<ul class="nav-list">
			<li class="current-menu-item">
				<a href="#0">Home</a>
			</li>
			<li>
				<a href="#0">CPG Companies</a>
			</li>
			<li>
				<a href="#0">Consumers</a>
			</li>
			<li>
				<a href="#0">Early Adopters</a>
			</li>
			<li>
				<a href="#0">AeroFlexx Movement</a>
			</li>
			<li>
				<a href="#0">News & Views</a>
			</li>
			<li>
				<a href="#0">Team</a>
			</li>
			<li class="btn btn-white btn-lg btn-block">
				<a href="#tab1-0">Contact Us</a>
			</li>
		</ul>
	</div>
</nav>