<footer class="footer">
	<div class="footer_body">
		<div class="container md">
			<div class="footer-container">
				<div class="footer-top">
					<div class="footer-item footer-logo">
						<a href="#0">
							<img src="img/logo-light.png" alt="">
						</a>
					</div>
					<div class="footer-item footer-descr">
						<p><strong>About AeroFlexx –</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
					</div>
					<div class="footer-item footer-warranty">
						<img src="img/warranty-1.png" alt="">
						<img src="img/warranty-2.png" alt="">
					</div>
					<div class="footer-item footer-nav">
						<ul class="menu">
							<li class="current-menu-item">
								<a href="#0">Home</a>
							</li>
							<li>
								<a href="#0">CPG Companies</a>
							</li>
							<li>
								<a href="#0">Consumers</a>
							</li>
							<li>
								<a href="#0">Early Adopters</a>
							</li>
							<li>
								<a href="#0">AeroFlexx Movement</a>
							</li>
							<li>
								<a href="#0">News & Views</a>
							</li>
							<li>
								<a href="#0">Team</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer-bottom">
					<p class="copyright">
						©2019, AeroFlexx – Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					</p>
					<address class="footer-address">
						<span><strong>Email:</strong><a href="mailto:&#105;&#110;&#102;&#111;&#064;&#097;&#101;&#114;&#111;&#102;&#108;&#101;&#120;&#120;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#097;&#101;&#114;&#111;&#102;&#108;&#101;&#120;&#120;&#046;&#099;&#111;&#109;</a></span>
						<span><strong>Address:</strong>52 Lake Lynda Drive Building 100, Suite 151 Orlando, FL 32817</span>
					</address>
					<div class="social-network-footer">
						<ul class="social-network">
							<li>
								<a href="#" target="_blank"><i class="icon-facebook-square"></i>facebook</a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="icon-twitter-square"></i>twitter</a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="icon-linkedin-square"></i>linkedin</a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="icon-instagram"></i>instagram</a>
							</li>
						</ul>
					</div>
					<div class="logo-bottom">
						<a href="#">
							<strong class="logo-bottom_title">A portfolio company of</strong>
							<img src="img/footer-logo02.png" alt="image description" width="119" height="29">
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="footer-bg"></div> -->
	</div>
</footer>

<!-- nav -->
//= ../nav.html
<!-- nav -->

<!-- wp-test-page-admin-bar include start-->
//= wp-test-page-admin-bar.html
<!-- wp-test-page-admin-bar include end-->
<!-- loading JS Start -->
<script src="js/jquery-3.2.1.min.js" defer></script>
<script src="js/jquery.main.js" defer></script>
<!-- loading JS End -->
<!--<Deject>-->
<!--Removing zone start -->
<link rel="stylesheet" href="css/development.css">
<div class="dev-scripts-block">
	//= ../../dev/template/responsive-breakpoint.html
	//= ../../dev/template/scroll-up-down.html
	//= ../../dev/template/fast-navigation.html
</div>
//= ../../dev/template/button-all-off.html
<script src="js/development.js" defer></script>
<!--Removing zone end -->
<!--</Deject>-->
</body>
</html>
